@import 'tailwindcss';

@layer base {
  /* 모든 요소 기본 설정 */
  * {
    @apply box-border;
    padding: 0;
    margin: 0;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.4) transparent;
  }

  /* HTML 스크롤 부드럽게 */
  html {
    @apply scroll-smooth;
  }

  /* Body 기본 스타일 */
  body {
    @apply bg-[#FFFCEA] font-sans text-main-text;
    font-family: 'NanumSquareRound', sans-serif;
  }

  /* 링크 기본 스타일 */
  a {
    @apply text-inherit no-underline;
  }

  /* 버튼 기본 리셋 */
  button {
    @apply cursor-pointer;
    border: none;
    background: none;
  }
}

/* ✅ GeekbleMalrangiche */
@font-face {
  font-family: 'GeekbleMalrangiche';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/GeekbleMalang2WOFF2.woff2')
    format('woff2');
  font-weight: normal;
  font-display: swap;
}

/* ✅ NanumSquareRound */
@font-face {
  font-family: 'NanumSquareRound';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff')
    format('woff');
  font-weight: normal;
  font-display: swap;
}

@theme {
  --color-background-header: #ffe3a7;
  --color-main-text: #4d2d07;
  --color-input-bg: #fbfbfb;
  --color-input-border: #e3dbcb;
  --color-placeholder-text: #c1bfbc;
  --color-input-text: #535353;
  --color-button-text: #d3770e;
  --color-error-text: #ec4040;
  --color-sub-button-bg: #e7e1d7;
  --color-sub-button-text: #baab96;
  --color-tooltip-text: #5f4423;
  --color-button-bg: #ef9338;
  --color-button-bg-bottom: #feac07;
}

@theme {
  --font-malrang: 'GeekbleMalrangiche', sans-serif;
  --font-nanum: 'NanumSquareRound', sans-serif;
  --clip-button-curve: polygon(
    0 0,
    100% 0,
    100% 50%,
    90% 57%,
    80% 60%,
    70% 63.5%,
    50% 65%,
    30% 63.5%,
    20% 60%,
    10% 57%,
    0 50%
  );
}

@layer utilities {
  .clip-button-curve {
    clip-path: var(--clip-button-curve);
  }
}
